* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box-1 {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation: movebox-1 5s infinite;
}
@keyframes movebox-1 {
  from {
    top: 0px;
    left: 0px;
    background-color: red;
  }
  to {
    left: 200px;
    background-color: yellow;
    width: 250px;
  }
}

.box-2 {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation: movebox-2 5s infinite;
}
@keyframes movebox-2 {
  0% {
    top: 0px;
    left: 0px;
    background: red;
    width: 100px;
    border: 1px solid black;
  }
  100% {
    leff: 200px;
    background: blue;
    width: 300px;
    border: 1rem solid;
  }
}

.box-3 {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation: movebox-3 5s infinite;
}
@keyframes movebox-3 {
  from {
    top: 0px;
    left: 0px;
    background-color: red;
    opacity: 1;
  }
  to {
    left: 200px;
    background-color: yellow;
    width: 250px;
    opacity: 0;
  }
}
